.lsU-modal {
    position: fixed;
    z-index: 99;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.3);
}

.lsU-modal-content {
    background-color: #fefefe;
    margin: 1% auto;
    border: 1px solid #7cbd1e;
    width: 80%;

    animation-name: modal-animation;
    animation-duration: 0.9s;
}

.lsU-modal-body {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.close {
    color: #7cbd1e;
    text-decoration: none;
}
textarea {
    resize: none;
}

@keyframes modal-animation {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}
